* {
  font-family: Arial, sans-serif;
  margin: auto;
}

div {
  border-radius: 5px;
}

h1 {
   font-size: 18px;
  text-align: center;
}

#header {
  height: 45px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}


.flush_right {
  float: right;
  margin-right: 10px;
}

.left {
  height: 2000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.right {
  height: 2000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 100px;
  width: 70%;
  height: auto;
}

.head {
  font-weight: bold;
}

.list {
   text-align: justify;
}

.references-table {
  width: 100%;
  border-collapse: collapse;

}

th {

  text-align: left;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: fixed;
  bottom: 0;
}